<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
      <!-- Appenders 输出目的地 -->
      <Appenders>
      <!-- 配置日志输出文件名字     追加读写     host地址  端口    -->
        <Socket name="system" host="localHost" port="5001" >
        <!-- 输出格式  序列布局-->
        <SerializedLayout />
    <!--   <PatternLayout pattern=" [%t] %-5level %logger{36} %L- %msg%n" /> -->
    <!--       <PatternLayout pattern=" [%t] %-5level %logger{36} %L- %msg%n" />   -->
        </Socket>
        <!-- 控制台输出 -->
        <Console name="STDOUT" target="SYSTEM_OUT">
        <!-- 输出格式  布局-->
          <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
      </Appenders>
      <Loggers>
      <!-- debug级别 -->
        <Root level="debug">
          <AppenderRef ref="system"/>
          <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="apiall" level="info" additivity="false">
    <AppenderRef ref="system" />
</Logger>
      </Loggers>
</Configuration>