<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Gelf name="gelf" host="udp:192.168.77.205" port="12201" version="1.1"
			extractStackTrace="true" filterStackTrace="true" mdcProfiling="true"
			includeFullMdc="true" maximumMessageSize="8192" originHost="%host{fqdn}"
			additionalFieldTypes="fieldName1=String,fieldName2=Double,fieldName3=Long">
			<Field name="timestamp" pattern="%d{dd MMM yyyy HH:mm:ss,SSS}" />
			<Field name="level" pattern="%level" />
			<Field name="simpleClassName" pattern="%C{1}" />
			<Field name="className" pattern="%C" />
			<Field name="server" pattern="%host" />
			<Field name="server.fqdn" pattern="%host{fqdn}" />

			<!-- This is a static field -->
			<Field name="fieldName2" literal="fieldValue2" />

			<!-- This is a field using MDC -->
			<Field name="mdcField2" mdc="mdcField2" />
			<DynamicMdcFields regex="mdc.*" />
			<DynamicMdcFields regex="(mdc|MDC)fields" />
		</Gelf>

		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="gelf" />
		</Root>
	</Loggers>
</Configuration>